In [4]:
import pandas as pd

In [17]:
mydataset={"cars":["BMW","volvo","ford"],"passings":[3,7,2]}
myvar=pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  volvo         7
2   ford         2

In [18]:
print(pd.__version__)

1.5.3

In [19]:
a=[1,7,2]
myvar=pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [20]:
myvar=pd.Series(a,index=["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [21]:
data={"calories":[420,380,390],"duration":[50,40,45]}
df=pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [22]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [23]:
print(df.loc[1])

calories    380
duration     40
Name: 1, dtype: int64

In [24]:
print(df.loc[2])

calories    390
duration     45
Name: 2, dtype: int64

In [26]:
df=pd.read_csv('/content/data.csv')
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [5]:
d={"       Tid":['1','2','3','4','5','6','7','8','9','10'],
   "      Refund":['yes','no','no','yes','no','no','yes','no','no','no'],
   "    Marital satatus":['single','married','single','married','divorced','merried','divorced','single','married','single'],
   "      Taxable income":['125k','100k','70k','120k','95k','60k','220k','85k','75k','90k'],
   "      Cheat":['no','no','no','no','yes','no','no','yes','no','yes']}
df=pd.DataFrame(d)
print(df)

         Tid       Refund     Marital satatus       Taxable income       Cheat
0          1          yes              single                 125k          no
1          2           no             married                 100k          no
2          3           no              single                  70k          no
3          4          yes             married                 120k          no
4          5           no            divorced                  95k         yes
5          6           no             merried                  60k          no
6          7          yes            divorced                 220k          no
7          8           no              single                  85k         yes
8          9           no             married                  75k          no
9         10           no              single                  90k         yes

In [6]:
ans=df.iloc[[0,4,7,8]]
print(ans)

         Tid       Refund     Marital satatus       Taxable income       Cheat
0          1          yes              single                 125k          no
4          5           no            divorced                  95k         yes
7          8           no              single                  85k         yes
8          9           no             married                  75k          no